<header>
    <h1>Luneil Cafe</h1>
    <nav>
        <a href="#">HOME</a>
        <a href="/products">PRODUCTS</a>
        <a href="/orderform">ORDER FORM</a>
        <a href="/orderhistory">ORDER HISTORY</a>
        <a href="/customerlist">CUSTOMER LIST</a>
    </nav>
</header>