<header>
    <img src="/assets/logo.png" alt="luneil cafe logo">
    <nav>
        <a href="/">HOME</a>
        <a href="/products">PRODUCTS</a>
        <a href="/order-form">ORDER FORM</a>
        <a href="/order-history">ORDER HISTORY</a>
        <!-- <a href="/customer-list">CUSTOMER LIST</a> -->
    </nav>
</header>