<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/header.ejs') %>
    <main>
        <div class="banner">
            <img src="/assets/banner.jpg" alt="box of short eats">
            <div class="welcome-message">
                <h2>Hello, Luneil Café</h2>
                <h3>Welcome to your restuarant manager app!</h3>
                <a href="#features" class="btn" hre>Checkout Features</a>  
            </div>
        </div>
        <section id="features">
            <h1 class="page-title">Available Features</h1>
            <div class="features">
                <div class="feature-container">
                    <h2>Product Details</h2>
                    <div class="feature-picture-container">
                        <img src="assets/product-details.png"/>
                        <a href="/products">Test Feature</a>
                    </div>
                    
                </div>
                <div class="feature-container">
                    <h2>Order Form</h2>
                    <div class="feature-picture-container">
                        <img src="assets/order-form.png"/>
                        <a href="/order-form">Test Feature</a>
                    </div>
                </div>
                <div class="feature-container">
                    <h2>Order History</h2>
                    <div class="feature-picture-container">
                        <img src="assets/order-history.png"/>
                        <a href="/order-history">Test Feature</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>