<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/header.ejs') %>
    <main>
        <div class="banner">
            
            <img src="/assets/banner.jpg" alt="box of short eats">
            <div class="welcome-message">
                <h2>Hello, Luneil Cafe</h2>
                <h3>Welcome to your restuarant manager app!</h3>
                <button class="btn">Checkout Features</button>  
            </div>
            
            
        </div>
    </main>
</body>
</html>