<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/header.ejs') %>
    <main>
        <div class="banner">
            
            <img src="/assets/banner.jpg" alt="box of short eats">
            <button>About Us</button>  
            
        </div>
    </main>
</body>
</html>