<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <h1>ORDER HISTORY</h1>
        <div class="order-list">
            <div class="order-summary">
                <h4>First Name: </h4>
                <h4>Last Name: </h4>
                <h4>Phone Number: </h4>
                <h4>Pickup Date: </h4>
                <h4>Pickup Time: </h4>
                <h4>Items: </h4>
                <ul>
                    <li>Fish Roll: 2</li>
                    <li>Cheese & Potato Cutlet: 10</li>
                    <li>Fish Roti: 3</li>
                </ul>
                <h4>Special Instructions: </h4>
                <h4>Created: </h4>
                <h2>Total: </h2>          
            </div>
        </div>
    </main>

    
</body>
</html>