<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <!-- DO NOT CHANGE -->
    <%- include('./partials/header.ejs') %>
    <main>
        <h1 class="page-title">ORDER FORM</h1>
        <div class="order-container">
            
            <form action="/order-history" method="POST" id="form1">
                <div>
                    <div class="contact-info">
                        <h2>Customer Information</h2>
                        <div class="customer-info">
                            <label>First Name:</label>
                            <input type="text" name="firstName">
                            <label>Last Name:</label>
                            <input type="text" name="lastName">
                            <label>Phone Number:</label>
                            <input type="text" name="phoneNumber">
                        </div>
                        <h2>Pickup Information</h2>
                        <div class="pickup-info">
                            <label>Pickup Date:</label>
                            <input type="date" name="pickupDate">
                            <label>Pickup Time:</label>
                            <input type="time" name="pickupTime">
                        </div>
                        
        
                    </div>
                    <h2>Quantities</h2>
                    
                    <div class="order-details">
                        <h3>Cutlets</h3>
                        <div class="option-container">
                            <input value="Fish Cutlet" type="hidden" name="fish-cutlet">
                            <input value=1.00 type="hidden" name="fish-cutlet">
                            <input value=cutlet type="hidden" name="fish-cutlet">
                            <p>Fish: </p>
                            <input value=0 type="number" name="fish-cutlet" class="fish-cutlet">
                            <p class="price"> [$1.00/pc]</p>
                        </div>
                        <div class="option-container">
                            <input value="Cheese & Potato Cutlet" type="hidden" name="cheese-cutlet">
                            <input value=1.00 type="hidden" name="cheese-cutlet">
                            <input value=cutlet type="hidden" name="cheese-cutlet">
                            <p>Cheese: </p>
                            <input value=0 type="number" name="cheese-cutlet">
                            <p class="price"> [$1.00/pc]</p>
                        </div>
                        <div class="option-container">
                            <input value="Chicken Cutlet" type="hidden" name="chicken-cutlet">
                            <input value=1.25 type="hidden" name="chicken-cutlet">
                            <input value=cutlet type="hidden" name="chicken-cutlet">
                            <p>Chicken: </p>
                            <input value=0 type="number" name="chicken-cutlet">
                            <p class="price"> [$1.25/pc]</p>
                        </div>
                        <!-- <p>Subtotal:</p> -->
                    </div>
                    
                    <div class="order-details">
                        <h3>Rolls</h3>
                        <div class="option-container">
                            <input value="Vegetable Roll" type="hidden" name="vegetable-roll">
                            <input value=2.00 type="hidden" name="vegetable-roll">
                            <input value=roll type="hidden" name="vegetable-roll">
                            <p>Vegetable: </p>
                            <input value=0 type="number" name="vegetable-roll">
                            <p class="price"> [$2.00/pc]</p>
                        </div>
                        <div class="option-container">
                            <input value="Fish Roll" type="hidden" name="fish-roll">
                            <input value=2.50 type="hidden" name="fish-roll">
                            <input value=roll type="hidden" name="fish-roll">
                            <p>Fish: </p>
                            <input value=0 type="number" name="fish-roll">
                            <p class="price"> [$2.50/pc]</p>
                        </div>
                        <div class="option-container">
                            <input value="Pork Roll" type="hidden" name="pork-roll">
                            <input value=3.00 type="hidden" name="pork-roll">
                            <input value=roll type="hidden" name="pork-roll">
                            <p>Pulled Pork: </p>
                            <input value=0 type="number" name="pork-roll">
                            <p class="price"> [$3.00/pc]</p>
                        </div>
                        <!-- <p>Subtotal:</p> -->
                    </div>
                    
                    <div class="order-details">
                        <h3>Patties</h3>
                        <div class="option-container">
                            <input value="Fish Patties" type="hidden" name="fish-patties">
                            <input value=1.25 type="hidden" name="fish-patties">
                            <input value=patties type="hidden" name="fish-patties">
                            <p>Fish: </p>
                            <input value=0 type="number" name="fish-patties">
                            <p class="price"> [$1.25/pc]</p>
                        </div>
                        <div class="option-container">
                            <input value="Cheese Patties" type="hidden" name="cheese-patties">
                            <input value=1.25 type="hidden" name="cheese-patties">
                            <input value=patties type="hidden" name="cheese-patties">
                            <p>Cheese: </p>
                            <input value=0 type="number" name="cheese-patties">
                            <p class="price"> [$1.25/pc]</p>
                        </div>
                        <div class="option-container">
                            <input value="Chicken Patties" type="hidden" name="chicken-patties">
                            <input value=1.50 type="hidden" name="chicken-patties">
                            <input value=patties type="hidden" name="chicken-patties">
                            <p>Chicken: </p>
                            <input value=0 type="number" name="chicken-patties">
                            <p class="price"> [$1.25/pc]</p>
                        </div>
                        <!-- <p>Subtotal:</p> -->
                    </div>
                   
                    <div class="order-details pastry">
                        <h3>Pastry</h3>
                        <div class="option-container">  
                            <input value="Spinach & Cream Cheese Pastry" type="hidden" name="spinach-pastry">
                            <input value=2.50 type="hidden" name="spinach-pastry">
                            <input value=pastry type="hidden" name="spinach-pastry">
                            <p>Spinach & Cream Cheese: </p>
                            <input value=0 type="number" name="spinach-pastry">
                            <p class="price"> [$2.50/pc]</p>
                        </div>
                        <div class="option-container">      
                            <input value="Fish Pastry" type="hidden" name="fish-pastry">
                            <input value=2.50 type="hidden" name="fish-pastry">
                            <input value=pastry type="hidden" name="fish-pastry">
                            <p>Fish: </p>
                            <input value=0 type="number" name="fish-pastry">
                            <p class="price"> [$2.50/pc]</p>    
                        </div>      
                        <div class="option-container">      
                            <input value="Chicken Pastry" type="hidden" name="chicken-pastry">
                            <input value=2.50 type="hidden" name="chicken-pastry">
                            <input value=pastry type="hidden" name="chicken-pastry">
                            <p>Chicken: </p>
                            <input value=0 type="number" name="chicken-pastry">
                            <p class="price"> [$2.50/pc]</p>    
                        </div>      
                        <div class="option-container">      
                            <input value="Seeni Sambal & Egg Pastry" type="hidden" name="seenisambal-pastry">
                            <input value=2.50 type="hidden" name="seenisambal-pastry">
                            <input value=pastry type="hidden" name="seenisambal-pastry">
                            <p>Seeni Sambal & Egg: </p>
                            <input value=0 type="number" name="seenisambal-pastry">
                        <p class="price"> [$2.50/pc]</p>    
                        </div>    
                        <div class="option-container">      
                            <input value="Chicken Sausage Pastry" type="hidden" name="chicken-sausage-pastry">
                            <input value=2.50 type="hidden" name="chicken-sausage-pastry">
                            <input value=pastry type="hidden" name="chicken-sausage-pastry">
                            <p>Chicken Sausage: </p>
                            <input value=0 type="number" name="chicken-sausage-pastry">
                            <p class="price"> [$2.50/pc]</p>    
                        </div>    
                        <!-- <p>Subtotal:</p> -->
                    </div>
                    
                    <div class="order-details">
                        <h3>Roti</h3>
                        <div class="option-container">          
                            <input value="Vegetable Roti" type="hidden" name="vegetable-roti">
                            <input value=2.50 type="hidden" name="vegetable-roti">
                            <input value=roti type="hidden" name="vegetable-roti">
                            <p>Vegetable: </p>
                            <input value=0 type="number" name="vegetable-roti">
                            <p class="price"> [$2.50/pc]</p>    
                        </div>     
                        <div class="option-container">             
                            <input value="Fish Roti" type="hidden" name="fish-roti">
                            <input value=2.75 type="hidden" name="fish-roti">
                            <input value=roti type="hidden" name="fish-roti">
                            <p>Fish: </p>
                            <input value=0 type="number" name="fish-roti">
                        <p class="price"> [$2.75/pc]</p>        
                        </div>            
                        <div class="option-container">              
                            <input value="Chicken Roti" type="hidden" name="chicken-roti">
                            <input value=2.75 type="hidden" name="chicken-roti">
                            <input value=roti type="hidden" name="chicken-roti">
                            <p>Chicken: </p>
                            <input value=0 type="number" name="chicken-roti">
                        <p class="price"> [$2.75/pc]</p>        
                        </div>          
                        <!-- <p>Subtotal:</p> -->
                    </div>
                    <h2>Special Instructions</h2>
                    <textarea name="specialinstructions"></textarea>
                </div>
            </form>
        <div class="order-buttons">
            <!-- <button id ="calculate-btn" onclick= "calculate()" >Calculate Total</button> -->
            <button form="form1">Submit Order</button>
            <!-- <p>Total:  </p> -->
        </div>  
    </div>     
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>

