<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <!-- DO NOT CHANGE -->
    <%- include('./partials/header.ejs') %>
    <main>
        <h1>PRODUCTS</h1>
        <div class="products-container">
            <div class="single-product">
                <img src="../public/cutlet.png" alt="5 cutlets on white plate">
                <p>CUTLETS</p>
            </div>
            <div class="single-product">
                <img src="../public/cutlet.png" alt="5 cutlets on white plate">
                <p>ROLLS</p>
            </div>
            <div class="single-product">
                <img src="../public/cutlet.png" alt="5 cutlets on white plate">
                <p>PATTIES</p>
            </div>
            <div class="single-product">
                <img src="../public/cutlet.png" alt="5 cutlets on white plate">
                <p>PASTRY</p>
            </div>
            <div class="single-product">
                <img src="../public/cutlet.png" alt="5 cutlets on white plate">
                <p>ROTI</p>
            </div>
        </div>

    </main>

    
</body>
</html>