* > {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fbf9f0;
    font-family: 'Playfair Display', serif;
}

/* header formatting */

header {
    background: #ffffff;
    color: white;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #E3E1E1;
    
}

header h1 {
    margin: 0;
    text-shadow: rgb(61, 60, 55) 1px 0 10px;
}

nav {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* main section formatting  */

main {
    background-color: antiquewhite;
    margin: 50px;
    border: 2px solid black;
    border-radius: 10px;

    
}


main h1 {
    text-align: center;
}

/* products formatting  */

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
    padding: 50px;
}

.single-product {
    align-content: center;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */

}

.single-product img {
    height:350px;
    width: 350px;
    object-fit: cover;
    border-radius: 10px;
    
}

.choices {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    margin-top: 10px;
    justify-content: center;
}

.choices a {
    border: 2px solid black;
    background-color: lightgray;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    
}

.choices a:hover{
    background-color: #FFDE59;
    
}

/* order form formatting  */

.order-container {
    padding: 0px 50px 50px 50px;
}

.order-details input{
    width: 40px;
}

textarea{
    min-height: 100px;
    width: 100%;
    margin-bottom: 30px;
}

.order-buttons {
    display: flex;
    gap: 50px;
}

.order-buttons p {
margin-left: auto;
}



.order-buttons button {
    font-size: 20px;
    background: #FFDE59;
    padding: 10px;
    border-radius: 5px;
    border: black 1px solid;
    cursor: pointer;

}